<!DOCTYPE html>
<html lang="en">
<head>
  <title>Even Fibonacci Numbers</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <ul class="list-reset flex border-b bg-grey-dark">
        <li class="mr-1">
            <a class="inline-block py-2 px-4 font-semibold" href="#" id="fibonacci" onclick="fibonacci()">Even Fibonacci Number</a>
        </li>
        <li class="mr-1">
            <a class="inline-block py-2 px-4 font-semibold" href="#" id="fpb" onclick="largestPrimeFactor()">Largest Prime Factor</a>
        </li>
    </ul>
    <div class="flex justify-center ">
        <form class="bg-white shadow-md rounded px-6 pt-6 pb-8 mb-4 h-screen w-full">
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Number
                </label>
                <input class="shadow appearance-none border rounded w-1/5 py-2 px-3 text-grey-darker" id="number" type="number" placeholder="Input Some Number">
            </div>
            <div class="flex items-center justify-between mb-6">
                <button onclick="hitung()" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="button">
                    Calculate
                </button>
            </div>
            <p>Please input a number and click the "calculate" button to get the answer</p>
            <div class = "mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-3 mt-6" for="answer">
                    Answer
                </label>
                <input class="shadow appearance-none border rounded w-1/2 h-48 py-6 px-3 text-grey-darker" id="answer" type="text" disabled> 
            </div>
        </form>
    </div>
</body>

<script>
   
    window.action="menuFibonacci";

    document.getElementById("fibonacci").classList.add("text-white", "border-l", "border-t", "border-r", "rounded-t");
    document.getElementById("fpb").classList.add("text-black", "hover:text-blue-lightest");

    function fibonacci() {
        window.action = "menuFibonacci";
        document.getElementById('number').value="";
        document.getElementById('answer').value="";
        document.getElementById("fibonacci").classList.remove("text-white", "border-l", "border-t", "border-r", "rounded-t","text-black", "hover:text-blue-lightest");
        document.getElementById("fpb").classList.remove("text-white", "border-l", "border-t", "border-r", "rounded-t","text-black", "hover:text-blue-lightest");
        document.getElementById("fibonacci").classList.add("text-white", "border-l", "border-t", "border-r", "rounded-t");
        document.getElementById("fpb").classList.add("text-black", "hover:text-blue-lightest");
    }
    function largestPrimeFactor() {
        window.action = "menuLargestPrimeFactor";
        document.getElementById('number').value="";
        document.getElementById('answer').value="";
        document.getElementById("fibonacci").classList.remove("text-white", "border-l", "border-t", "border-r", "rounded-t","text-black", "hover:text-blue-lightest");
        document.getElementById("fpb").classList.remove("text-white", "border-l", "border-t", "border-r", "rounded-t","text-black", "hover:text-blue-lightest");
        document.getElementById("fibonacci").classList.add("text-black", "hover:text-blue-lightest");
        document.getElementById("fpb").classList.add("text-white", "border-l", "border-t", "border-r", "rounded-t");

    }

    function hitung() {
        var number = document.getElementById('number').value;
        var aksi = window.action;
        if (aksi == "menuFibonacci") {
             var fibno = [ 1, 2 ], sum = [];

             function cal(arr)
              {
               return arr[ arr.length - 1] + arr[ arr.length - 2];
              }
              while ( fibno[ fibno.length - 1 ] < number )
              {
                fibno.push( cal(fibno) );
              }
                fibno.forEach( function(n) 
              {
              if ( n % 2 === 0 )
              {
                sum.push(n);
              }
            })
          document.getElementById('answer').value = "The answer is : " + sum;
        }
        else if (aksi == "menuLargestPrimeFactor") {
          var primes = [];
          var prime_init = 2;
          
          while (number > 1) {
            var check = number % prime_init;
            
            while(check == 0) {
              primes.push(prime_init);
              number /= prime_init;
              check = number % prime_init;
            }
            prime_init++; 
          }
          
          var hasil = Math.max.apply(null,primes)
          document.getElementById('answer').value = "The answer is : " + hasil;
        }
        else{
            return false;
        }
    }
   
</script>
</html>
