extends layout

block content
  head
    title Even Fibonacci Numbers
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
    script(src="javascript/script.js")
  body
    ul.list-reset.flex.border-b.bg-grey-dark
      li.mr-1
        a#fibonacci.inline-block.py-2.px-4.font-semibold(href='#', onclick='fibonacci()') Even Fibonacci Number
      li.mr-1
        a#fpb.inline-block.py-2.px-4.font-semibold(href='#', onclick='largestPrimeFactor()') Largest Prime Factor
    .flex.justify-center
      form.bg-white.shadow-md.rounded.px-6.pt-6.pb-8.mb-4.h-screen.w-full
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='username')
            | Number
          input#number.shadow.appearance-none.border.rounded.py-2.px-3.text-grey-darker(class='w-1/5', type='number', placeholder='Input Some Number')
        .flex.items-center.justify-between.mb-6
          button.bg-blue.text-white.font-bold.py-2.px-4.rounded(onclick='hitung()', class='hover:bg-blue-dark', type='button')
            | Calculate
        p Please input a number and click the "calculate" button to get the answer
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-3.mt-6(for='answer')
            | Answer
          input#answer.shadow.appearance-none.border.rounded.h-48.py-6.px-3.text-grey-darker(class='w-1/2', type='text', disabled='')



